{% extends "base.html" %}
{% block title %}Graphique Catégories{% endblock %}
{% block content %}
<h2 class="mb-4">Répartition par Catégorie</h2>

<canvas id="graphCategorie" width="400" height="200"></canvas>

<script>
const ctx2 = document.getElementById('graphCategorie').getContext('2d');
new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: {{ labels|tojson }},
        datasets: [{
            data: {{ values|tojson }},
            backgroundColor: ['#007bff', '#ffc107', '#dc3545', '#28a745', '#17a2b8']
        }]
    },
    options: {
        responsive: true
    }
});
</script>
{% endblock %}
